@use "variables";
@use "_ckecontent";
@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@300..700&family=Inter:opsz,wght@14..32,100..900&family=Kapakana:wght@300..400&display=swap");

.ckeditor-custom {
  ul,
  ol,
  menu {
    list-style: revert;
    padding: revert;
    margin: revert;
  }
  b,
  strong {
    font-weight: bold;
  }
  p {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
}

body,
html {
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
  color: var(--color-text-primary);
  list-style: revert;
}
